Files/
Include/
Indicators/Examples/
Indicators/PreBuilt/
Libraries/mqlcache.dat
Libraries/stdlib.*
Presets/
Projects/
Shared Projects/
Logs/
Scripts/Examples/
Scripts/mqlcache.dat
Scripts/PeriodConverter.*

